.Bai1 {
    padding: 32px;

    h1 {
        width: 100%;
        text-align: center;
        display: inline-block;
        font-size: 28px;
        color: #088178;
        font-weight: 500;
    }

    .btn {
        font-size: 16px;
        padding: 10px 28px;
        border: 1px solid transparent;
        border-radius: 8px;
        color: #fff;
        background: #088178;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }

    .form {
        margin-top: 30px;
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        gap: 40px;
        &-group {
            label,
            input {
                display: block;
            }
            label {
                font-weight: 600;
            }
            input {
                width: 240px;
                height: 34px;
                margin-top: 8px;
                padding: 4px 8px;
                border: 2px solid #ccc;
                border-radius: 8px;
            }
        }
        &-btn {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    table {
        margin-top: 30px;
        width: 100%;
        border-collapse: collapse;
        overflow: auto;
        td,
        th {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
            max-height: 50px;
        }
        th {
            background-color: #f2f2f2;
            font-weight: 600;
        }
        tbody tr {
            height: 50px;
            td:last-child {
                text-align: center;
            }
        }
    }

    .export {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;

        &--title {
            font-weight: 600;
        }
    }
}
