.Bai3 {
    text-align: center;
    padding: 32px;

    h1 {
        display: inline-block;
        font-size: 28px;
        color: #088178;
        font-weight: 500;
    }
    
    .btn {
        font-size: 16px;
        padding: 10px 28px;
        border: 1px solid transparent;
        border-radius: 8px;
        color: #fff;
        background: #088178;
        cursor: pointer;
    }

    .btn:hover {
        opacity: 0.9;
    }

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: 20px;
        gap: 40px;
        .board {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid;
            margin: 0;
            .row {
                display: flex;
                .boxes {
                    display: flex;
                    height: 40px;
                    width: 40px;
                    background-color: #fff;
                    border: 1px solid #0f1b21;
                    cursor: pointer;
                    &:hover {
                        background-color: #d2cfcf;
                    }
                    svg,img {
                        height: 30px;
                        width: 30px;
                        margin: auto;
                    }
                }
            }
        }
        .form {
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 370px;
            gap: 10px;
            textarea {
                width: calc(100% - 16px);
                height: 100%;
                padding: 4px 8px;
                border: 2px solid #ccc;
                border-radius: 8px;
            }

            .btn-group {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;
            }
        }
    }
}