.map-container {
  max-width: 600px; /* Giới hạn độ rộng của bản đồ */
  max-height: 400px; /* Giới hạn độ dài của bản đồ */
}

.container {
  height: calc(100vh - 80px);
  width: 80%;
  text-align: center;

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .hero--location {
      flex: 1;
    }

    .hero--map {
      flex: 1;
      height: 100%;
      width: 100%;
      max-width: 600px; /* Giới hạn độ rộng của bản đồ */
      max-height: 400px; /* Giới hạn độ dài của bản đồ */
    }
  }
}
